<a href="https://colab.research.google.com/github/urness/CS167Code/blob/main/Day03_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CS167 Day 03 Demonstration Notes

## Part 1: Selecting columns in dataframes

In [1]:
import pandas
from google.colab import drive
drive.mount('/content/drive')
#go through authentication step

Mounted at /content/drive

In [ ]:
iris_data = pandas.read_csv('/content/drive/MyDrive/CS167Spring22/datasets/irisData.csv')
iris_data.head()

In [ ]:
titanic = pandas.read_csv('/content/drive/MyDrive/CS167Spring22/datasets/titanic.csv')
titanic.head()

In [ ]:
# what is the data type of titanic?
type(titanic)

In [ ]:
# what are the features (column titles) of the titanic dataset?
titanic.columns

In [ ]:
#display columns
titanic['pclass']
#or
#titanic.pclass

In [ ]:
#subset multiple columns
subset = titanic [ ['pclass', 'survived', 'age']]

In [ ]:
#type of a column
type(titanic['pclass'])

In [ ]:
#shape (number of elements in each dimension)
titanic.shape

## Part 2: loc vs. iloc

In [ ]:
titanic.loc[886];  ## 886 is really a "name", not a number
titanic.iloc[886];  ## 886 is now a index number using iLoc

subset = titanic.loc[880:885]

subset.loc[880] #works
subset.iloc[880] #broken.... how would you fix it?

## Part 3: Subsetting using series

In [ ]:
# can compare the value of an entire series!
titanic['deck'] == 'B'

In [ ]:
# can use this series of Trues and Falses to get a subset of the data
deckB = titanic[ titanic['deck'] == 'B']
#returns a dataframe where only where deck is B
deckB.head()

In [ ]:
#combine two series using and (&)
deckBFemale = titanic[ (titanic['deck'] == 'B') & (titanic['sex'] == 'female') ]
deckBFemale.head()

## Part 4: Some handy functions

In [ ]:
#now can use this as a subset
deckB['age'].mean()

In [ ]:
# we can use functions like mean(), median(), std(), etc on a dataframe
deckB['age'].median()

In [ ]:
# describe() will print out the count, mean, standard deviation, and give an idea of the distrubtion of the numeric categories
deckB.describe()

In [ ]:
# The hist() function will display a histogram of the data you pass it.
deckB['survived'].hist()

In [ ]:
#doing arithmetic on groups within the dataframe
titanic.groupby(['pclass'])['age'].mean()

In [ ]:
#seeing all of the possible values of a column:
titanic['class'].unique()